openapi: 3.0.0
info:
  title: D-Link - API - Product Images
  description: |
    This API primarily provides a facility to retrieve 
    image urls associated with a D-Link product code.
    A product code may have none, one or many images 
    available. Therefore image url retrieval can optionally be 
    filtered on keywords such as 'left', 'right' or a combination e.g. 
    'front middle left'. 
servers:
  - url: http://jdocker01.dlinkjde.int:8080/api/v1/productimages
paths:
  /ping:
    get: 
      summary: | 
        Pings this API for a simple OK response.
      description: |
        Simple API call, no parameters, quickly check your code 
        can connect with this API and get a response back.
      responses:
        '200':    # status code
          description: A JSON object with success and a mesage with 'OK'.
          content:
            application/json:
              schema: 
                type: object
                items: 
                  type: string
  /products:
    get:
      summary: |
        Returns a unique list of Products for which image urls are 
        available.
      description: | 
        Returns a distinct list of product codes stored in this 
        system. Each entry will have 1 or more image urls associated with 
        it.
        Optionally filter by Product code to check if a Product has any
        images available.
      responses:
        '200':    # status code
          description: A JSON array of product codes
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /images:
    get:
      summary: Returns a list of urls available for a Product code.
      description: |
        Pass a Product code for a list of all available image urls 
        stored in the system.
        Optionally filter this list by providing one or word filter words
        for example 'left' or 'front left' 
      responses:
        '200':    # status code
          description: A JSON array of image urls
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
